{% extends "layout.html" %}

{% block title %}
    Closed lists
{% endblock %}

{% block main %}
    <div class = "my_container container-fluid">
        <div class = "my_container-title">
            <h1>Closed lists</h1>
        </div>
        <form action = "/" method = "POST">
            {% if closed_lists %}
                <table class = "table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th scope = "col">Title</th>
                            <th scope = "col">Quantity</th>
                            <th scope = "col">Price</th>
                            <th scope = "col">Total</th>
                            <th scope = "col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class = "table-group-divider">
                        {% for list in closed_lists %}
                            <caption>Closed on {{ closed_list["closed_date"] }}</caption>
                            <tr>
                                <td>{{ list["title"] }}</td>
                                <td>{{ list["qtty"] }}</td>
                                <td>{{ list["price"] }}</td>
                                <td>{{ list["price"] * list["qtty"]|brl }}</td>
                                <td>
                                    <button class = "btn btn-secondary" name = "open-list" type = "submit" value = "{{ list.id }}"><i class = "fa-solid fa-folder-open"></i>   Open</button>
                                    <button class = "btn btn-danger" name = "delete-list" type = "submit" value = "{{ list.id }}"><i class = "fa-solid fa-trash"></i>    Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <button class = "btn btn-secondary" name = "buy_list_again" type = "submit" value = "{{ list.id }}"><i class = "fa-solid fa-repeat"></i>    Buy this list again</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <table class = "table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th scope = "col">List</th>
                            <th scope = "col">Date</th>
                            <th scope = "col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class = "table-group-divider">
                        {% for list in closed_lists %}
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td class = "empty-col"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </form>
    </div>
{% endblock %}