{% extends "layout.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}
    <div class = "my_container container-fluid">
        <div class = "my_container-title">
            <h1>Items</h1>
        </div>
        <form action = "/items" method = "POST">
            {% if items %}
                <table class = "table table-secondary">
                    <thead>
                        <tr>
                            <th scope = "col">ID</th>
                            <th scope = "col">Item</th>
                            <th scope = "col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.title }}</td>
                                <td>
                                    <button class = "btn btn-secondary" name = "edit-item" type = "submit" value = "{{ item.id }}">
                                        <i class = "fa-solid fa-pen-to-square"></i>   Edit</button>
                                    <button class = "btn btn-danger" name = "delete-item" type = "submit" value = "{{ item.id }}">
                                        <i class = "fa-solid fa-trash"></i>    Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class = "btn btn-secondary" href = "/addItems" style = "width: max-content; display: flex; justify-content: center; align-items: center; text-decoration: none; margin: 10px auto;"><i class = "fa-solid fa-plus"></i>  Add item</a>
            {% else %}
                <table class = "table table-secondary">
                    <thead>
                        <tr>
                            <th scope = "col">ID</th>
                            <th scope = "col">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
                <a class = "btn btn-secondary" href = "/addItems" style = "width: max-content; display: flex; justify-content: center; align-items: center; text-decoration: none; margin: 10px auto;"><i class = "fa-solid fa-plus"></i>   Add item</a>
            {% endif %}
        </form>
    </div>
{% endblock %}